/* No. 1 */
.assign1 div[class*="main red"]{
  color: red;
}
/* ===================================================================== */
/* No. 2*/
.assign2 .parent :nth-child(2) {
  color: red;
}
/* ===================================================================== */
/* No. 3*/
.assign3 .parent > div:only-child {
  color: red;
}
/* ===================================================================== */
/* No. 4*/
.assign4 > div[title]:not(.no-need){
  color: red;
}
/* ===================================================================== */
/* No. 5*/
.assign5 :nth-child(2) [title]{
  color: red;
}
/* ===================================================================== */
/* No. 6*/
.assign6 div:not(.no-need) div:nth-last-of-type(2){
  color: red;
}
/* ===================================================================== */
/* No. 7*/
.assign7 div:first-child div:nth-child(5) {
  color: red;
}
/* ===================================================================== */
/* No. 8*/
.assign8 :not(:first-child, :last-child, h3) {
  color: red;
}
/* ===================================================================== */