/* No. 1 */
@media print {
  .assign-one {
    font-size: 40px;
  }
}
/* ===================================================================== */
/* No. 2 */
.assign2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 50px;
}

.assign2 div {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  text-align: center;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #e3e3e3;
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
  .assign2 div {
    width: 100%;
  }
  .assign2 div h3 {
    color: black;
  }
}

/* Mid Screens */
@media (min-width: 769px) and (max-width: 1199px) {
  .assign2 div {
    width: calc((100% - 20px) / 3);
  }
  .assign2 div h3 {
    color: red;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .assign2 div {
    width: calc((90% - 20px) / 4);
  }
  .assign2 div h3 {
    color: #009688;
  }
}
/* ===================================================================== */
/* No. 3 */
.assign3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 50px;
}

.assign3 div {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  text-align: center;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #e3e3e3;
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
  .assign3 div {
    width: 100%;
  }
  .assign3 div h3 {
    color: black;
  }
}

/* Mid Screens */
@media (min-width: 769px) and (max-width: 1199px) {
  .assign3 div:nth-child(2),
  .assign3 div:nth-child(3),
  .assign3 div:nth-child(4) {
    width: calc((90% - 30px) / 3);
  }
  .assign3 div h3 {
    color: red;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .assign3 div:nth-child(2),
  .assign3 div:nth-child(3) {
    width: calc((190% - 20px) / 4);
  }
  .assign3 div h3 {
    color: #009688;
  }
}
/* ===================================================================== */
